@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #545454;
  font-size: 14px;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "nav nav nav nav nav"
    ". main . side ."
    "footer footer footer footer footer";
  grid-template-columns:
    minmax(min-content, 100px) minmax(min-content, 2fr) 50px minmax(
      min-content,
      1fr
    )
    minmax(min-content, 100px);
  grid-template-rows: min-content 1fr min-content;
  align-items: start;
  row-gap: 56px;
}

nav {
  grid-area: nav;
  background-color: #ffffff;
  min-height: 70px;
  display: grid;
  grid-template-areas: ". logo . inicio . sobre . contato . ";
  grid-template-columns: 140px min-content minmax(100px, 1fr) min-content 48px min-content 48px min-content 169px;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
}

nav img {
  grid-area: logo;
}

nav a {
  text-decoration: none;
  color: #545454;
}

nav :nth-child(2) {
  grid-area: inicio;
}

nav :nth-child(3) {
  grid-area: sobre;
}

nav :nth-child(4) {
  grid-area: contato;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

.post {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 40px;
  padding-bottom: 25px;
}

.post h1,
.post h5,
.post p,
.post button {
  margin-right: 25px;
  margin-left: 25px;
}

.post h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  margin-bottom: 5px;
}

.post ul {
  margin-left: 24px;
}

.list1 {
  list-style-type: disc;
}

.list2 {
  list-style-type: circle;
}

.italicparag {
  font-style: italic;
}

.post h5 {
  color: #929292;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin-top: 0;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.post img {
  width: 100%;
  margin: 0;
  padding: 0;
  align-self: stretch;
}

.post p {
  line-height: 19px;
  font-size: 14px;
  color: #545454;
}

.post button {
  margin-top: 20px;
  align-self: flex-end;
  width: 154px;
  height: 43px;
  background-color: #ffffff;
  border: 1px solid #fe0078;
  border-radius: 20px;
  font-size: 14px;
  line-height: 19px;
  color: #545454;
}

.post button:hover {
  background-color: #fe0078;
  color: #ffffff;
}

.post button:focus {
  outline: none;
}

label {
  display: block;
}

.formulario {
  display: grid;
  grid-template-areas:
    "nome email"
    "comentario comentario"
    ". botao";
  gap: 24px;
}

.formulario input {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 2px;
}

.formulario input {
  outline: none;
  padding: 12px;
}

.formulario label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  color: #000000;
  margin-bottom: 8px;
}

.nome {
  grid-area: nome;
}

.email {
  grid-area: email;
}

.email input,
.nome input {
  width: 100%;
}

.comentario {
  grid-area: comentario;
}

.comentario textarea {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 2px;
  resize: none;
  width: 100%;
  margin: 0;
}

.comentario textarea:focus {
  outline: none;
}

.formulario button {
  justify-self: end;
  grid-area: botao;
  background-color: #fe0078;
  color: #ffffff;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  padding: 12px 24px 12px 24px;
}

.sidebar {
  grid-area: side;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.sidebar input {
  padding: 17px 0 16px 20px;
  border-radius: 10px;
  width: 90%;
  border: 1px solid #eeeeee;
  margin-left: 40px;
  margin-right: 40px;
}

.sidebar input:hover {
  border-color: #fe0078;
}

.sidebar input:focus {
  outline: none;
  border-color: #fe0078;
}

.categorias {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.borda {
  width: 2px;
  height: 38px;
  background-color: #fe0078;
}

.sidebar h2 {
  margin-left: 11px;
  font-weight: 700;
  color: #000000;
}

.categoria {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px dashed #eeeeee;
}

.categoria p {
  margin-left: 15px;
  margin-right: 15px;
}

.categoria a {
  text-decoration: none;
  color: #545454;
}

.categoria a:hover {
  color: #fe0078;
}

.categoria:hover {
  color: #fe0078;
  border-color: #fe0078;
}

.publi {
  width: 100%;
  height: 240px;
  background-color: #eeeeee;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 36px;
  display: grid;
  place-content: center;
  line-height: 49px;
}

footer {
  min-height: 70px;
  grid-area: footer;
  margin-bottom: 0;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
